.populares {
    margin-left: 1.5rem;
}

.populares__titulo {
    font-size: 2rem;
    color: #7B78E5;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

.populares__imagens {
    display: flex;
    flex-direction: column;
}

.populares__imagem {
    margin-bottom: 1.5rem;
}

.populares__botao {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(45deg, #C98CF1,#7B78E5);
    padding: 2px;
    box-sizing: border-box;
}

.populares__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #082D5C;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: .5s;
}

.populares__link:hover {
    background: transparent;
}
